name: CI
on:
  push:
  workflow_dispatch:
  schedule:
    # Every Sunday at 12PM UTC
    - cron: "0 12 * * 0"

jobs:
    version-check:
        runs-on: 'ubuntu-latest'
        outputs:
            bwz_latest_rls: ${{ steps.check.bwz_latest_rls }}
            vlt_latest_rls: ${{ steps.check.vlt_latest_rls }}
            rls_version: ${{ steps.check.rls_version }}
        steps:
        - name: check
          run: |
            bwz_latest_rls=$(curl -s -L \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/bitwuzla/bitwuzla/releases/latest | \
                jq ".tag_name" | sed -e 's/\"//g')
            vlt_latest_rls=$(curl -s -L \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/verilator/verilator/git/refs/tags | \
                jq ".[].ref" | sed -e's%refs/tags/%%' -e 's/\"//g'| sort | tail -n 1)
            vlt_bin_latest_rls=$(curl -s -L \
                -H "Accept: application/vnd.github+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                -H "X-GitHub-Api-Version: 2022-11-28" \
                https://api.github.com/repos/pss-hands-on/verilator-bin/releases/latest | \
                jq ".tag_name" | sed -e 's/\"//g')
            
            echo "bwz_latest_rls: ${bwz_latest_rls}"
            echo "vlt_bin_latest_rls: ${vlt_bin_latest_rls}"
            echo "vlt_latest_rls: ${vlt_latest_rls}"
            vlt_version=$(echo $vlt_latest_rls | sed -e 's/^v//')

            echo "bwz_latest_rls=${bwz_latest_rls}" >> ${GITHUB_OUTPUT}
            echo "vlt_latest_rls=${vlt_latest_rls}" >> ${GITHUB_OUTPUT}
            echo "vlt_version=${vlt_version}.${BUILD_NUM}" >> ${GITHUB_OUTPUT}

            vlt_version=$(echo $vlt_latest_rls | sed -e 's/^v//')
            rls_version="${vlt_version}.${{ github.run_id }}"
        - name: print
          run: |
            echo "bwz_latest_rls: ${{ steps.check.bwz_latest_rls }}"
            echo "vlt_latest_rls: ${{ steps.check.vlt_latest_rls }}"
            echo "rls_version: ${{ steps.check.rls_version }}"


    build:
        runs-on: 'ubuntu-latest'
        needs: version-check
        strategy:
          matrix:
            image: [manylinux2014_x86_64, manylinux_2_28_x86_64, manylinux_2_34_x86_64]
#        outputs:
#          binaries: ${{ steps.collect_results}}
        steps:
            - uses: actions/checkout@v4
#            - name: Install Deps
#              run: |
#                sudo apt-get install autoconf bison flex libfl-dev help2man
            - name: print
              run: |
                echo "print"
                echo "image: ${{ matrix.image }}"
                echo "bwz_latest_rls: ${{ needs.version-check.outputs.bwz_latest_rls }}"
                echo "vlt_latest_rls: ${{ needs.version-check.outputs.vlt_latest_rls }}"
            - name: build
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                BUILD_NUM: ${{ github.run_id }}
                image: ${{ matrix.image }}
                bwz_latest_rls: ${{ needs.version-check.outputs.bwz_latest_rls }}
                vlt_latest_rls: ${{ needs.version-check.outputs.vlt_latest_rls }}
              run: >
                docker run --rm
                --volume "$(pwd):/io"
                --env BUILD_NUM
                --env vlt_latest_rls
                --env bwz_latest_rls
                --env image
                --workdir /io
                quay.io/pypa/${{ matrix.image }}
                /io/scripts/build.sh
            - name: upload
              uses: actions/upload-artifact@v4
              with:
                name: my-build-artifact
                path: "verilator-${{ matrix.image }}-${{ needs.version-check.outputs.vlt_latest_rls }}"
                retention-days: 7

    publish:
        runs-on: 'ubuntu-latest'
        needs: build
        steps:
        - name: Create Release
          id: create_release
          uses: actions/create-release@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
          with:
            tag_name: "${{ steps.is_needed.outputs.vlt_latest_rls }}.${{ github.run_id }}"
            release_name: "Release ${{ steps.is_needed.outputs.vlt_latest_rls }}.${{ github.run_id }}"
            body: |
              Build of Verilator ${{ steps.is_needed.outputs.vlt_latest_rls }}
            draft: false
            prerelease: false
        - name: Upload Files
          uses: actions/upload-release-asset@v1
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BUILD_NUM: ${{ github.run_id }}
          with:
            upload_url: ${{ steps.create_release.outputs.upload_url }}
            asset_path: "./release/verilator-${{ matrix.image }}-${{ steps.is_needed.outputs.vlt_version }}.tar.gz"
            asset_name: "verilator-${{ matrix.immage }}-${{ steps.is_needed.outputs.vlt_version }}.tar.gz"
            asset_content_type: application/gzip

    # ci-windows:
    #     runs-on: windows-latest
    #     steps:
    #         - uses: msys2/setup-msys2@v2
    #           with:
    #             update: true
    #             install: >-
    #                 gcc
    #                 flex
    #                 bison
    #                 autotools
    #                 help2man
    #                 python3
    #         - uses: actions/checkout@v4
    #         - name: Download source
    #           shell: msys2 {0}
    #           run: |
    #             cwd=$(pwd)
    #             inst=$cwd/verilator-windows-64
    #             ./scripts/build.sh
    #             wget https://github.com/verilator/verilator/archive/refs/tags/v5.030.tar.gz
    #             tar xvf v5.030.tar.gz
    #             cd verilator-5.030
    #             autoconf
    #             ./configure --prefix=$inst
    #             make -j$(nproc)
    #             make install
    #             cd $cwd
    #             cp -r $inst/share/verilator/include $inst
    #             cp $inst/share/verilator/bin/verilator_includer $inst/bin




